.slick-dots li button:before {
    font-size: 14px !important;
}

.slick-dots {
    bottom: 0 !important;
}


.slick-prev{
    left: 25px;
}


.slick-next{
    right: 25px;
}


.slick-prev,.slick-next{
    color: #303030 !important;
    background: transparent !important
}



.slick-prev:before ,.slick-next:before{
    opacity: 1 !important;
    font-size: 28px !important;
    color: #303030 !important;
}

a:-webkit-any-link {
    text-decoration: none !important;
    color: white;
    cursor: pointer;
  }